{{ template "base" . }}
{{ define "content" }}
<div class="text-center">
    <h1 class="text-4xl font-bold mb-4">Welcome to Pelith Assessment</h1>
    <p class="text-lg text-gray-700">Navigate through the platform using the links above.</p>
</div>
{{ end }}
